log
logs/*
build/*
install/*
docker/dev/build/*
docker/dev/install
docker/dev/src/*
docker/dev/logs/*
docker/prod/build/*
docker/prod/install
docker/prod/src/*
docker/prod/logs/*
Micro-XRCE-DDS-Agent/build/*
.cursor
.vscode
.env
node_modules
venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class